.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  box-shadow: 4px 4px 20px #6a6969;
  padding: 20px;
  margin: 40px auto;
  max-width: 400px;
}
.label {
  margin-top: 15px;
}
.input {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5;
  padding: 4px 16px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #fafad2;
  border: 1px solid rgb(167, 162, 162);
  font-size: 16px;
  color: #5c4033;
}
.btn {
  width: 50%;
  font-size: 24px;
  padding: 4px 16px;
  margin: 12px auto;
  text-align: center;
  color: #5c4033;
  background-color: #95deb1;
  border: #d3d3d3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:active {
  background-color: #3a7952;
  outline: none;
  color: #f7f7e8;
}

.btn:focus {
  outline: none;
}

.error {
  color: #ea566c;
}
